body{
    font-family: "Courier New";
}


#titleTranslit{
    color: #118399;
    margin-top: 2%;
    text-align: center;
}

#example{
    text-align: center;
    margin-bottom: 2%;
    color: gray;
}
/* Tabs */

.tabs-container {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
}

.tabs {
    display: flex;
}

.tabs li:not(:last-child) {
    margin-right: 7px;
}

.tabs li a {
    display: block;
    position: relative;
    top: 4px;
    padding: 10px 25px;
    border-radius: 2px 2px 0 0;
    background: white;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}

.tabs li.active a,
.tabs li a:hover {
    opacity: 1;
    top: 0;
}

.tabs-content {
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 0 4px 4px 4px;
    background: white;
}

.tabs-panel {
    display: none;
}

.tabs-panel.active {
    display: block;
}

/* Content */

.translite {
    width: 300px;
    height: 300px;
}

#transliteTatCyr{
    float: left;
    resize: none;
    box-shadow: 2px 2px 2px 0 #118399;
    -webkit-appearance: none;
    border-radius: 5%;
    padding-right: 2%;
    padding-left: 2%;
    outline: none;
}

#transliteTatLat{
    float: right;
    resize: none;
    box-shadow: 2px 2px 2px 0 #118399;
    -webkit-appearance: none;
    border-radius: 5%;
    padding-right: 2%;
    padding-left: 2%;
    outline: none;
}

#runWrapper{
    float: left;
    margin-left: 3%;
    margin-top: 13%;
}

#eraseWrapper{
    float: left;
    margin-left: 5%;
    margin-top: 13%;
}

#searchWrapper{
    margin-left: 35%;
}

#test{
    margin-right: 3%;
    width: 55%;
}
